<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!</h1>
    <p>
      Your donation has been processed.<br/>
      The NGO selected for you is: <%= @ngo.name %>. Their phone number is <%= @ngo.name %> and their email address is <%= @ngo.email %>. <br/>
    </p>
   
  </body>
</html>

