<% title "About Us" %>

<h1><%= yield :title %></h1>

<p>Goodwork is a free platform for charities to sign up and receive donations from people in their city.</p>

<p>Are you a charity? <%= link_to "Sign up here.", new_ngo_registration_path %></p>

<p>Goodwork is maintained by SIZR Studios, a product and web development company.</p>