<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @ngo.name %>!</h1>
    <p>
      Your application has been approved.<br/>
      Login at <%= @url %>login.<br/>
    </p>
    <p>
      Regards,<br/>
      The Goodwork Team.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>







