<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The following donation has been requested to be made to your organization:</h1>
    <p>
      Name: <%=@donation.name %><br/>
    </p>
    <p>
      Contact details of the donor are as follows. <br/>
      <%= @user.name %>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Regards,<br/>
    The Goodwork Team</p>
  </body>
</html>



