<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SUCKER PUNCH <%= @ngo.name %>!</h1>
    <p>
      Your application is being considered.<br/>
      Someone from our team will call you for the approval process.<br/>
    </p>
    <p>
      Regards,<br/>
      The Goodwork Team.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>







