<% title "Thanks for the Donation" %>

<h1><%= yield :title %></h1>

Thanks!
FB LINK
TW LINK


<%=link_to "Take a look at the board", donation_board_url%> or 
<%=link_to "Donate another item", root_url%>