<div class="hero-image active">
  <div class="container hero-text">
    <h1>Reaching out to charities made simple</h1>
  </div>
  <div class="donatebar">
    <label for="">I want to donate a  </label>
    <input type="text" value="item" class="form-control">
    <div type="" class="btn btn-success go-button">GO</div>
  </div>
</div>

<div class="iwantodonate">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="item-pledge">Pledge your Item</h1>
        <%= render "donation/form" %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="quotation">
    <h2>I remember the days when I had to  track down charities in my area to extend my help to. Then I came across Charitly.</h2>
  </div>

  <div class="row">
    <div class="steps col-lg-4 col-md-4">
      <div class="step">
        <img class="pledgeanitem img-responsive" src="/assets/step1.png">
      </div>
      <h3>Pledge an item</h3>
    </div>
    <div class="steps col-lg-4 col-md-4">
      <div class="step">
        <img class="contactinfoexchanged img-responsive" src="/assets/step2.png">
      </div>
      <h3>Contact info exchanged</h3>
    </div>
    <div class="steps col-lg-4 col-md-4">
      <div class="step">
        <img class="itemgiven img-responsive" src="/assets/step3.png">
      </div>
      <h3>Item given</h3>
    </div>
  </div>

  <div class="blockoftext">
    <p>That tall drink of water with the silver spoon up his ass. Bruce... I'm god. let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. multiply your anger by about a hundred, kate, that's how much he thinks he loves you. it only took me six days. same time it took the lord to make the world. i now issue a new commandment: thou shalt do the dance. let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. rehabilitated? well, now let me see. you know, i don't have any idea what that means. </p>

    <p>The man likes to play chess; let's get him some rocks. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave. mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. well, what is it today? more spelunking? cities fall but they are rebuilt. heroes die but they are remembered. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd.</p> 
  </div>



</div>