
.select-city {
	background-color: #1abc9c;
	color: white;
	&:focus, :active {
		outline:0;

	}
}

.profile-picture > img {
	width: 132px!important;
	height: 132px!important;
	border-radius: 50%;
	border: 5px solid #1abc9c;
}