.margin-left-extra
{
	margin-left:30px;
}
.margin-c{margin:0 auto;}
.left-snap{margin-left:0; padding-left:0;}
.push-a-bit{margin-top:5px;}
.push-a-bit select{width:200px; background-color:white;}
.round-pic{border-radius:50%;}
.center-thing-big{margin:0 auto; width:520px; margin-top:60px;}
.center-thing{margin:0 auto; width:420px;}
.one-black-bar{margin-top: 120px;background-color:black; width:70px; height:7px; float:left;}
.mid-pic{width:240px; float:left; margin-left:20px; margin-right:20px;}
.clearer{clear:both;}
.six6{color:#666; font-size:12px;}
.bal{font-size:70px!important; }
.tal{text-align:center; font-family: 'Lato' "Helvetica Neue", Helvetica, Arial, sans-serif;}