.round-pic{
	border-radius:50%;
	border: 7px solid #1abc9c;
}

.center-thing{
	display: inline-block;
	height: auto;
}

.verified-button
{
background-color:#2980b9;
border-radius:5px;
width:100px;
color:white;

}
.vb-extra{margin-top:17px;

margin:0 auto;
}
.wt-bg{
background-color:white;
color:#505050;
border-radius:5px;
line-height:20px;
text-align:center;
padding-top:20px;
margin-bottom:20px;
padding-bottom:20px;
}

.wt-bg-2
{
background-color:white;
color:#505050;
border-radius:5px;
line-height:20px;
text-align:center;
padding-top:40px;
margin-bottom:20px;
padding-bottom:60px;
}